@import'../../../assets/css/main.scss';

.header {
  display: flex;
  justify-content: space-between;
  color: $white;
  padding: 2rem 0;

  &__logo {
    color: $white;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
}
