.lotConstructorView {
  &__title {
    // text-align: center;
    padding-top: 20px;
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: top;
  }

  &__preview {
    max-width: 300px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
  }
}
